#reviews-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#reviews-container h2 {
  text-align: center;
}
#reviews-container h4 {
  /* text-align: center; */
  margin-left: 20px;
}

#review-form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#review-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#review-form label {
  display: block;
  margin-bottom: 5px;
}

#review-form input, #review-form select, #review-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#review-form textarea {
  resize: vertical;
}

#review-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

#review-form button:hover {
  background-color: #0056b3;
}


/* Review List */
.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.review p {
  margin: 0;
}

/* Star rating */
.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
  color: orange;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* Login/Logout Button */
.login-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.login-button,
.logout-button {
  background-color: #4e0eff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.login-button:hover,
.logout-button:hover {
  background-color: #3b09ac;
}
